@keyframes swing {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.wrapper {
  height: 100vh;
  padding: 0;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 'uppertext' 'subtext' "icons";
  align-items: center;
  justify-items: center;
}

.upper-text {
  grid-area: uppertext;
  font-size: 48px;
  font-weight: bold;
}

.crane {
  position: relative;
  left: 88%;
  line-height: 0;
}

.sub-text {
  grid-area: subtext;
  display: grid;
  align-self: start;
}

.upper-text::after {
  content: 'Z';
  position: relative;
  top: 10.5%;
  left: 1%;
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: top left;
}

.icons {
  grid-area: icons;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

@media (max-width: 575.98px) {
  .upper-text {
    font-size: 32px;
  }

  .upper-text::after {
    left: 0.8%;
    top: 8.3%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .upper-text::after {
    top: 20.5%;
  }
}

@media (min-width: 767.98px) and (max-width: 1199.98px) {
  .upper-text::after {
    top: 0;
    left: 0;
    animation: none;
  }
}